<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar-top">
        <a href="" class="logo">{{mylogo}}</a>
  
        <ul class="navlists">
          <li><a href="">Tools</a></li>
          <li><a href="">Go Pro</a></li>
          <li><a href="">Sign in</a></li>
          <li class="signup"><a href="">Sign up</a></li>
        </ul>
      </div>
  
      <div class="navigation">
        <ul class="navlists">
          <li><a href="">Home</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Locations</a></li>
          <li><a href="">Courses</a></li>
          <li><a href="">FAQs</a></li>
          <li><a href="">Sign UP</a></li>
        </ul>
      </div>
      
</body>
</html>